<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
<nav
  class="relative flex w-full flex-wrap items-center justify-center bg-[#FBFBFB] py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 lg:py-4">
  <div class="flex w-full flex-wrap items-center justify-center px-3">
    <div>
      <a
        class="mx-2 my-1 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 lg:mb-0 lg:mt-0"
        [routerLink]="['/menu']">
        <img
          class="mr-2"
          src="../../../assets/logoasebep.png"
          style="height: 2rem"
          alt="asebep"
          loading="lazy" />
        <span class="font-medium dark:text-neutral-200"
          >Asebep CURLP</span
        >
      </a>
    </div>
  </div>
</nav>
