<div class="  w-full h-screen bg-zinc-800  flex justify-center items-center">
  <section class=" flex flex-col lg:flex-row justify-center items-center gap-8">
    <img src="../../../assets/logoasebep.png" alt="logo asebep" class="sm:w-3/4 md:w-1/4" >
    <div class="flex flex-col text-center  items-center">
      <h1 class="text-3xl font-bold text-white">
        Asebep CURLP
      </h1>
      <h2 class="text-lg text-white font-light">
        Asociación de Estudiantes Becarios y Prestatarios, UNAH CURLP
      </h2>
      <button (click)="toLogin()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Iniciar Sesión
      </button>
    </div>
  </section>
  
</div>
